<!-- <h3>Summary</h3>
<p>Let's take a moment to remind ourselves of what we have learned so far, and to see just how far we have come.</p>
<ul>
<li>Controllers add behavior (using functions) and model data to the scope.</li>
<li>Angular provides built-in directives such as <code>ng-repeat</code>, <code>ng-show</code> and <code>ng-click</code> to access the data and execute functions on the scope.</li>
<li>Curly braces contain binding expressions such as <code>{{chosenSport.name}}</code> to display values on the page or add them to element attributes.</li>
<li>Filters such as <code>lowercase</code> and <code>orderBy</code> format our data on individual items or collections of data.</li>
<li>Modules provide a container for the different components of our application.
</li>
</ul> -->