  <header class="wrapper clearfix">
    <div class="header-item">
      <img src="/app/images/kb.jpg" />
<span class="external-links">  
          <a href="mailto:rientsvanburen@gmail.com?Subject=knowledge base" id="contact" target="_blank">Email</a>   
          &nbsp;|&nbsp;&nbsp;<a href="https://nl.linkedin.com/in/rientsvanburen">
            <img src="/app/images/linkedin-icon.png" />LinkedIn
          </a>
           <span>
            &nbsp;|&nbsp;&nbsp;<a href="/sign-in" id="sign-in">sign in</a>
          </span>
          </span>      
          <span >
        <span>
         
        </span> 
      </span>
    </div> 

      
  </header>
